
/* Media Query For Mobile  ✅ */

@media (max-width:600px){

body{
    overflow-x: hidden;
}


    /* Navbar For Mobile  */

    .navbar{
        width: 100%;
    }


    .navtext {
        font-size: 1.6rem;
        
      }
      
      .navtext:hover {      
        font-size: 1.8rem;
      }
      
        .hideOnMobile{
            display: none;
        }
    
    .menu-btn{
        display: block;
        margin-top: 1vh;
        margin-right: 5vw;
    }

    
    .sidebar{
        width: 60vw;
    }
    
    .hide-button{
        margin-top: 4vh;
    margin-left:35vw;
    
    }
    
    .sidebar a{
        font-size:1.5rem;
    }
    
/* Home Section For Mobile */

.home_container{
    width: 100%;
}

    .maintext1{
        font-size:3rem;
    }
    
    .maintext2{
        margin-top: 1vh;
        font-size:3.4rem;
    }
    
    .maintext3{
        font-size:1rem;
        margin-bottom: 4vh;
    }
    
    .mainimage img{
        height: 45vh;
        width: auto;
        margin-bottom: 1.5vh;
        margin-left: 9vw;

    }
    
    .btn{

        width:30%;
    font-size:100%;
        border-radius: 1.9rem;
        margin-top: 0.7vh;
        margin-left: 34vw;
    }
    
    .soicalmediaicons{
     display: flex;
     justify-content:center;
     margin-right: 10vw;
     gap:3vw;
     margin-bottom: 3.5vh;
     
    }
    
    
    .soicalmediaicons img{
        height:5vh;
        width: auto;
    }
    
    /* About  Section For Mobile */

    .about_container{
width: 100%;
    }

    .aboutheading{
        font-size:3.1rem;
    }
    
    .aboutme{
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
    
    .aboutimage img{
        height: 68vh;
        width: auto;
        margin-top: 8vh;
        margin-left: 13.8vw;
        
    }
    
    .abouttext1{
        font-size: 2.5rem;
        margin-left: 17vw;
        
    }
    
    
    .abouttext2{
        font-size:0.9rem;
        margin-left: 11vw;
        margin-top:1vh;
    }
    
    .abouttext3{
        font-size: 1rem;
        margin-left: 4vw;
        word-wrap: break-word;
    }
    
    .abouttext4{
        margin-top: 4vh;
        font-size:1.1rem;
        margin-left: 4vw;
    }
    
    
    .abouttext5{
        font-size: 1.1rem;
        margin-left: 4vw;
    }
    
    .githubbtn{
        width: 34.5%;
        font-size:100%;
        border: none;
        margin-bottom: 5vh;
        margin-left: 30vw;
        border-radius:0.5rem;
    }
    
    /* Skill  Section For Mobile */

    .skills_container{
width: 100%;
    }

    .skillheading p{
        font-size: 3.5rem;
        text-align: center;
        margin-left:5vw;
    }
    
    .skillborder{
    height: 55vh;
    width: 78vw;
    margin-left: 12vw;

    }
    
    .skill_image_section{
        display: flex;
        flex-direction: column;
    }
    
    
    .skillcharacter img{
        height: 35vh;
        width: auto;
        margin-left: 10vw;
    }
    
    
    .skillsimages img{
    margin-left: 4vw;
        height: 6.5vw;
        width: auto;
      
    } 
    
    /* Projects  Section For  Mobile */

    
    .projects_container{
        width: 100%;
    }


    .projectheading{
        font-size: 3.3rem;
        margin-left: 5vw;
    }
    
    .projectheading img{
        margin-top: 1vh;
        height: 9vh;
        width: auto;
    }
    
    .projectsimages{
        display: flex;
        flex-direction: column;
    }
    
    
    .project_programmer img{
        height:50vh;
        width: auto;
        margin-top: 4vh;
        
        margin-right: 90vw;
    }
    
    .projectimage_1 img{
    height: 20vh;
    width: auto;
    margin-right: 100vw;
    }
    
    
.projectimage_1 p{
    margin-top: 1vh;
    font-size: 1rem;   
    margin-right: 100vw;
}

/* Contact  Section For Mobile */

.contact_container{
width: 100%;
}

    .contactheading{
        font-size:2.1rem;
        text-align: center;
        
    }
    
    
    .form_container{
        height:50vh;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 5vw;
        margin-right: 3vw;
        margin-bottom: 5vh;
        box-shadow: 0 0 0.5rem black;
    }
    
    .contact_image img{
    display: block;    
    height: 20vh;
    width: auto;
    margin-left: 6.7vw;
    
    }
    
    
    .contactform pre{
        display: none;
        
    }
    
    input, textarea {
        height: auto;
        width: 75%;
        margin-right: 28vw;
    }
    
    
    .sendbtn .submitbtn {
        width: auto;
        margin-left: 20vw;
        
    }
    

    /* Footer Section For Mobile */
    

    .footer_container{
        width: 100%;
    }
    
    .footerheading{
        font-size:2rem;
        text-align: center;
    }
    

    .footerlast {
        font-size: 0.7rem;
        font-family: poppins;
        text-align: center;
    }
    
    .footerlast img{
        padding-top: 0.7vh;
        height:1.4vw;
        width: auto;
    }

    
/* Here I complete the Media Query For Mobile  */

}

/* Media Query For Tablet  ✅ */


@media (max-width: 769px) and (min-width: 600px) { 


    /* Navbar For Tablet px  */
    
    .navtext {
        font-size: 1.6rem;
        
      }
      
      .navtext:hover {      
        font-size: 1.8rem;
      }
      
        .hideOnMobile{
            display: none;
        }
    
    .menu-btn{
        display: block;
        margin-top: 1vh;
        margin-right: 5vw;
    }

    
    .sidebar{
        width: 60vw;
    }
    
    .hide-button{
        margin-top: 4vh;
    margin-left:35vw;
    
    }
    
    .sidebar a{
        font-size:1.5rem;
    }
    
/* Home Section For Tablet */

    .maintext1{
        font-size:3rem;
    }
    
    .maintext2{
        margin-top: 1vh;
        font-size:3.4rem;
    }
    
    .maintext3{
        font-size:1.2rem;
        margin-bottom: 4vh;
    }
    
    .mainimage img{
        height: 65vh;
        width: auto;
        margin-bottom: 1.5vh;
        margin-left: 30vw;
        
    }
    
    .btn{
        width:25%;
        font-size: 1.5rem;
        border-radius: 1.6rem;
        margin-top: 0.7vh;
        margin-left: 37vw;
    }
    
    .soicalmediaicons{
     display: flex;
     justify-content:center;
     margin-right: 15vw;
     gap:3vw;
     margin-bottom: 3.5vh;

    }
    
    
    .soicalmediaicons img{
        height:5vh;
        width: auto;
    }
    
    /* About  Section For  Tablet */
    
    .aboutheading{
        font-size:3.7rem;
    }
    
    .aboutme{
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
    
    .aboutimage img{
        height: 85vh;
        width: auto;
        margin-top: 8vh;
        margin-left: 34vw;
    }
    
    .abouttext1{
        font-size:3.3rem;
        margin-left: 24vw;
        
    }
    
    
    .abouttext2{
        font-size:1.1rem;
        margin-left: 22vw;
        margin-top:1vh;
    }
    
    .abouttext3{
        font-size: 0.9rem;
        margin-left: 2vw;
        padding-right: 0.7rem;
        word-wrap: break-word;
    }
    
    .abouttext4{
        margin-top: 4vh;
        font-size:1.1rem;
        margin-left: 4vw;
    }
    
    
    .abouttext5{
        font-size: 1.1rem;
        margin-left: 4vw;
    }
    
    .githubbtn{
        
        width: 35%;
        font-size:1.9rem;
        border: none;
        margin-bottom: 5vh;
        margin-left: 30vw;
        border-radius:0.7rem;
    }
    
    /* Skill  Section For Tablet*/
    
    .skillheading p{
        font-size: 4rem;
        text-align: center;
        margin-left:5vw;
    }
    
    .skillborder{
    height: 65vh;
    width: 78vw;
    margin-left: 12vw;
    
    

    }
    
    .skill_image_section{
        display: flex;
        flex-direction: column;
    }
    
    
    .skillcharacter img{
        height: 40vh;
        margin-left: 25vw;
        width: auto;
    }
    
    
    .skillsimages img{
    margin-left: 6vw;
        height: 7vh;
        width: auto;
      
    } 
    
    
    /* Projects  Section For Tablet */
    
    .projectheading{
        font-size:4rem;
        margin-left: 5vw;
    }
    
    .projectheading img{
        margin-top: 2.7vh;
        height: 13vh;
        width: auto;
    }
    
    .projectsimages{
        display: flex;
        flex-direction: column;
    }
    
    
    .project_programmer img{
        height:55vh;
        width: auto;
        margin-top: 4vh;
        margin-right: 90vw;
        margin-left: 30vw;
    }
    
    .projectimage_1 img{
    height: 36vh;
    width: auto;
    margin-right: 70vw;
    }
    
    
.projectimage_1 p{
    margin-top: 1vh;
    font-size: 1.4rem;   
    margin-right: 70vw;
}

/* Contact  Section For Tablet */
    
    .contactheading{
        font-size:3.5rem;
        text-align: center;
        
    }
    
    
    .form_container{
        height:60vh;
        width: 84%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 10vw;
        margin-bottom: 5vh;
        box-shadow: 0 0 0.5rem black;
    }
    
    .contact_image img{
    display: block;    
    height: 35vh;
    width: auto;
    margin-left: 6.7vw;
    
    }
    
    .contactform pre{
        display: none;
        
    }
    
    input, textarea {
        width:72%;
        margin-right: 28vw;
    }
    
    
    .sendbtn .submitbtn {
        width: auto;
        margin-left: 28vw;
    }
    

    /* Footer Section For Tablet */
    
    
    .footerheading{
        font-size:3rem;
        text-align: center;
    }
    
    
    .footerlast {
        font-size: 1rem;
        font-family: poppins;
        text-align: center;
        
        
    }
    
    .footerlast img{
        padding-top: 0.2vh;
        height:1.6vw;
    }

    
/* Here I complete the Media Query For Tablet  */

}


